/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.form-group{
  padding:10px 10px;
}
ul li img{width:100%;}
.row{max-width:100%;}

@media screen and (max-width: 300px) {
    body {
        background-color: lightblue;
    }
}
.text-center > td,.text-center > th{
  text-align:center;
}
.quickEntry input{
width:14%;
}
  .dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:-70%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.dropdown-submenu > a > i {
    position: absolute;
    right: 6px;
    top: 8px;
    color: darkgrey;
    font-size: 12px;
    }
a{cursor:pointer;}
@media (min-width: 1400px){
.container {
    width: 1370px;
}}
@media (min-width: 1600px){
.container {
    width: 1570px;
}}
@media (min-width: 1800px){
.container {
    width: 1770px;
}}
@media (min-width: 2000px){
.container {
    width: 1970px;
}}

@media (max-width: 990px){
.buttonRow{
  width:100px;
}}

@media (min-width: 991px){
.buttonRow{
  width:200px;
}}
.numberRow{
  width:50px;  
  position:relative;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:70%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
/*.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:left;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:10px;
}*/
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

table tr td:first-child{
  border-left:2px solid #ddd;
}

table tr td:last-child{
  border-right:2px solid #ddd;
}

table tr:last-child{
  border-bottom:2px solid #ddd;
}

.combatSpecial{
  padding-left: 20px;
    line-height: 1em;
    position: relative;
    top: -5px;
}


        img[ bn-lazy-src ] {
            background-image: url( "./checkered.png" ) ;
        }

        .viewport {
            height: 400px;
        }

.navbar-app .btn-navbar, .navbar-app .btn{
        padding-top: 2vh;
}
.navbar-app .btn-navbar, .navbar-app .btn, .navbar-app {
height:5vh;
    min-height:0px;
 
}
.navbar-absolute-top {
height:5vh;
  }

  .has-navbar-top .app-body {
    padding-top: 5vh;
}

.navbar-app .btn-navbar, .navbar-app .btn {
    background: 0 0;
    border: none;
    line-height: inherit;
    padding-top: 0;
  }
.navbar-brand {

    padding: 1.3vh;
    font-size: 2.5vh;
    line-height: 2vh;
    height:5vh;
}
  #appBoard{
    overflow:visible;
    height:89vh;
    padding-left: 0px;
  }
  #playController{

    min-height:138px;overflow:auto;height:100%;float:left; -webkit-transition: margin-top 2s, -webkit-transform 2s;
    transition: margin-top 2s, -webkit-transform 2s, height 2s, bottom 2s;
        padding-right: 0px;z-index: 1000;
  }
  div.slid{
    margin-top:-100%;
  }
  i.slid{
top:5%;
  }
i.notSlid{
top:92%;
}
  

@media screen and (max-width: 768px) {
  #combatTable tbody tr:first-child{
    background-color:yellow;
  }
  .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 2px;
  }
  #appBoard{
    overflow:hidden;
  }
}

.selected>td {
  background-color: #FBFF00;
}

table > tbody > tr > td .form-control{
  border-radius:0px;
  text-align:left;
}

.table tr th {
  text-align:center;
}

.action-group {
  position:relative;
  padding: 5px;
  border: 1px solid #b4b4b4;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  margin:0px;
  margin-bottom:5px;
  margin-top:10px;
  background-image: -moz-linear-gradient(top, #f7f7f7, #e5e5e5); /* FF3.6 */
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #e5e5e5),color-stop(1, #f7f7f7)); /* Saf4+, Chrome */
}



.x-close{
      opacity: 0.4;
      position: absolute;
    top: 9px;
    right: 10px;
    z-index:1000;
}

.x-close:hover{opacity:1;}

.subitem{
    background-color: aliceblue;
    padding: 2px 9px;
    border-radius: 15px;
    margin-right: 2px;
    white-space: nowrap;
    }
.spell-box{
    height: 35px;
    padding: 8px;
    border: 1px solid darkgray;
    margin-bottom: 3px;
    border-radius: 10px;
    cursor:pointer;
    }
.spell-box:hover{
      background-color: #D8D8D8;
}

.hb{display:inline-block;position:relative;text-align:center;z-index:0;cursor:pointer;}.hb:after,.hb:before{position:absolute;content:"";left:-1px;top:0;z-index:-1}.hb:before{-webkit-transform:rotate(60deg);-moz-transform:rotate(60deg);-ms-transform:rotate(60deg);-o-transform:rotate(60deg);transform:rotate(60deg)}.hb:after{-webkit-transform:rotate(-60deg);-moz-transform:rotate(-60deg);-ms-transform:rotate(-60deg);-o-transform:rotate(-60deg);transform:rotate(-60deg)}.hb i{z-index:9;-webkit-transition:all .25s ease;-moz-transition:all .25s ease;-ms-transition:all .25s ease;-o-transition:all .25s ease;transition:all .25s ease}.hb,.hb:after,.hb:before{box-sizing:border-box}.hb-lg{line-height:150px;font-size:150px;margin:74px 0}.hb-lg,.hb-lg:after,.hb-lg:before{height:148px;width:256px}.hb-md{line-height:74px;font-size:74px;margin:37px 0}.hb-md,.hb-md:after,.hb-md:before{height:74px;width:128px}.hb-sm{line-height:37px;font-size:37px;margin:18.5px 0}.hb-sm,.hb-sm:after,.hb-sm:before{height:37px;width:64px}.hb-xs{line-height:18.5px;font-size:18.5px;margin:9.5px 0}.hb-xs,.hb-xs:after,.hb-xs:before{height:18.5px;width:32px}.hb-lg-margin,.hb-md-margin,.hb-sm-margin,.hb-xs-margin{margin:15px;display:inline-block;overflow:hidden}.hb-lg-margin{height:296px;width:256px}.hb-md-margin{height:148px;width:128px}.hb-sm-margin{height:74px;width:64px}.hb-xs-margin{height:38px;width:32px}.spin,.spin-icon i{-webkit-transition:-webkid-transform .25s ease;-moz-transition:-moz-transform .25s ease;-ms-transition:-ms-transform .25s ease;-o-transition:-o-transform .25s ease;transition:transform .25s ease}
.spin-icon:hover i,.spin:hover{-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg)}.hb,.hb:after,.hb:before{background-color:#2c3e50;border-left:1px solid #2c3e50;border-right:1px solid #2c3e50;color:#2ecc71}
.hb-custom,.hb-custom:after,.hb-custom:before{background:#f39c12!important;color:#fff!important;border-left:1px solid #f39c12!important;border-right:1px solid #f39c12!important}.hb-custom:hover,.hb-custom:hover:after,.hb-custom:hover:before{background:#f1c40f!important;border-left:1px solid #f1c40f!important;border-right:1px solid #f1c40f!important;color:#000!important}.hb-facebook,.hb-facebook:after,.hb-facebook:before{background:#3B5998;border-color:#3B5998;color:#fff}.hb-facebook:hover,.hb-facebook:hover:after,.hb-facebook:hover:before{background:0 0;border-color:#3B5998;color:#3B5998}.hb-facebook-inv,.hb-facebook-inv:after,.hb-facebook-inv:before{color:#3B5998;border-color:#3B5998;background:0 0}.hb-facebook-inv:hover,.hb-facebook-inv:hover:after,.hb-facebook-inv:hover:before{background:#3B5998;border-color:#3B5998;color:#fff}.hb-twitter,.hb-twitter:after,.hb-twitter:before{background:#55ACEE;border-color:#55ACEE;color:#fff}.hb-twitter-inv,.hb-twitter-inv:after,.hb-twitter-inv:before,.hb-twitter:hover,.hb-twitter:hover:after,.hb-twitter:hover:before{background:0 0;border-color:#55ACEE;color:#55ACEE}.hb-twitter-inv:hover,.hb-twitter-inv:hover:after,.hb-twitter-inv:hover:before{background:#55ACEE;border-color:#55ACEE;color:#fff}.hb-google-plus,.hb-google-plus:after,.hb-google-plus:before{background:#db514f;border-color:#db514f;color:#fff}.hb-google-plus-inv,.hb-google-plus-inv:after,.hb-google-plus-inv:before,.hb-google-plus:hover,.hb-google-plus:hover:after,.hb-google-plus:hover:before{background:0 0;border-color:#db514f;color:#db514f}.hb-google-plus-inv:hover,.hb-google-plus-inv:hover:after,.hb-google-plus-inv:hover:before{background:#db514f;border-color:#db514f;color:#fff}.hb-youtube,.hb-youtube:after,.hb-youtube:before{background:#cc181e;border-color:#cc181e;color:#fff}.hb-youtube-inv,.hb-youtube-inv:after,.hb-youtube-inv:before,.hb-youtube:hover,.hb-youtube:hover:after,.hb-youtube:hover:before{background:0 0;border-color:#cc181e;color:#cc181e}.hb-youtube-inv:hover,.hb-youtube-inv:hover:after,.hb-youtube-inv:hover:before{background:#cc181e;border-color:#cc181e;color:#fff}.hb-linkedin,.hb-linkedin:after,.hb-linkedin:before{background:#0077b5;border-color:#0077b5;color:#fff}.hb-linkedin-inv,.hb-linkedin-inv:after,.hb-linkedin-inv:before,.hb-linkedin:hover,.hb-linkedin:hover:after,.hb-linkedin:hover:before{background:0 0;border-color:#0077b5;color:#0077b5}.hb-linkedin-inv:hover,.hb-linkedin-inv:hover:after,.hb-linkedin-inv:hover:before{background:#0077b5;border-color:#0077b5;color:#fff}.hb-tumblr,.hb-tumblr:after,.hb-tumblr:before{background:#2c4762;border-color:#2c4762;color:#fff}.hb-tumblr-inv,.hb-tumblr-inv:after,.hb-tumblr-inv:before,.hb-tumblr:hover,.hb-tumblr:hover:after,.hb-tumblr:hover:before{background:0 0;border-color:#2c4762;color:#2c4762}.hb-tumblr-inv:hover,.hb-tumblr-inv:hover:after,.hb-tumblr-inv:hover:before{background:#2c4762;border-color:#2c4762;color:#fff}.hb-rss,.hb-rss:after,.hb-rss:before{background:#da5700;border-color:#da5700;color:#fff}.hb-rss-inv,.hb-rss-inv:after,.hb-rss-inv:before,.hb-rss:hover,.hb-rss:hover:after,.hb-rss:hover:before{background:0 0;border-color:#da5700;color:#da5700}.hb-rss-inv:hover,.hb-rss-inv:hover:after,.hb-rss-inv:hover:before{background:#da5700;border-color:#da5700;color:#fff}.hb-pinterest,.hb-pinterest:after,.hb-pinterest:before{background:#da232a;border-color:#da232a;color:#fff}.hb-pinterest-inv,.hb-pinterest-inv:after,.hb-pinterest-inv:before,.hb-pinterest:hover,.hb-pinterest:hover:after,.hb-pinterest:hover:before{background:0 0;border-color:#da232a;color:#da232a}.hb-pinterest-inv:hover,.hb-pinterest-inv:hover:after,.hb-pinterest-inv:hover:before{background:#da232a;border-color:#da232a;color:#fff}.hb-vimeo,.hb-vimeo:after,.hb-vimeo:before{background:#20b9eb;border-color:#20b9eb;color:#fff}.hb-vimeo-inv,.hb-vimeo-inv:after,.hb-vimeo-inv:before,.hb-vimeo:hover,.hb-vimeo:hover:after,.hb-vimeo:hover:before{background:0 0;border-color:#20b9eb;color:#20b9eb}.hb-vimeo-inv:hover,.hb-vimeo-inv:hover:after,.hb-vimeo-inv:hover:before{background:#20b9eb;border-color:#20b9eb;color:#fff}.hb-github,.hb-github:after,.hb-github:before{background:#373a3c;border-color:#373a3c;color:#fff}.hb-github-inv,.hb-github-inv:after,.hb-github-inv:before,.hb-github:hover,.hb-github:hover:after,.hb-github:hover:before{background:0 0;border-color:#373a3c;color:#373a3c}.hb-github-inv:hover,.hb-github-inv:hover:after,.hb-github-inv:hover:before{background:#373a3c;border-color:#373a3c;color:#fff}.hb-flickr,.hb-flickr:after,.hb-flickr:before{background:#ff1981;border-color:#ff1981;color:#fff}.hb-flickr-inv,.hb-flickr-inv:after,.hb-flickr-inv:before,.hb-flickr:hover,.hb-flickr:hover:after,.hb-flickr:hover:before{background:0 0;border-color:#ff1981;color:#ff1981}.hb-flickr-inv:hover,.hb-flickr-inv:hover:after,.hb-flickr-inv:hover:before{background:#ff1981;border-color:#ff1981;color:#fff}.hb-dropbox,.hb-dropbox:after,.hb-dropbox:before{background:#007ee5;border-color:#007ee5;color:#fff}.hb-dropbox-inv,.hb-dropbox-inv:after,.hb-dropbox-inv:before,.hb-dropbox:hover,.hb-dropbox:hover:after,.hb-dropbox:hover:before{background:0 0;border-color:#007ee5;color:#007ee5}.hb-dropbox-inv:hover,.hb-dropbox-inv:hover:after,.hb-dropbox-inv:hover:before{background:#007ee5;border-color:#007ee5;color:#fff}.hb-xing,.hb-xing:after,.hb-xing:before{background:#006467;border-color:#006467;color:#fff}.hb-xing-inv,.hb-xing-inv:after,.hb-xing-inv:before,.hb-xing:hover,.hb-xing:hover:after,.hb-xing:hover:before{background:0 0;border-color:#006467;color:#006467}.hb-xing-inv:hover,.hb-xing-inv:hover:after,.hb-xing-inv:hover:before{background:#006467;border-color:#006467;color:#fff}.hb-skype,.hb-skype:after,.hb-skype:before{background:#00aceb;border-color:#00aceb;color:#fff}.hb-skype-inv,.hb-skype-inv:after,.hb-skype-inv:before,.hb-skype:hover,.hb-skype:hover:after,.hb-skype:hover:before{background:0 0;border-color:#00aceb;color:#00aceb}.hb-skype-inv:hover,.hb-skype-inv:hover:after,.hb-skype-inv:hover:before{background:#00aceb;border-color:#00aceb;color:#fff}.hb-dribbble,.hb-dribbble:after,.hb-dribbble:before{background:#ea4c89;border-color:#ea4c89;color:#fff}.hb-dribbble-inv,.hb-dribbble-inv:after,.hb-dribbble-inv:before,.hb-dribbble:hover,.hb-dribbble:hover:after,.hb-dribbble:hover:before{background:0 0;border-color:#ea4c89;color:#ea4c89}.hb-dribbble-inv:hover,.hb-dribbble-inv:hover:after,.hb-dribbble-inv:hover:before{background:#ea4c89;border-color:#ea4c89;color:#fff}.hb-tencent-weibo,.hb-tencent-weibo:after,.hb-tencent-weibo:before{background:#20B8E5;border-color:#20B8E5;color:#fff}.hb-tencent-weibo-inv,.hb-tencent-weibo-inv:after,.hb-tencent-weibo-inv:before,.hb-tencent-weibo:hover,.hb-tencent-weibo:hover:after,.hb-tencent-weibo:hover:before{background:0 0;border-color:#20B8E5;color:#20B8E5}.hb-tencent-weibo-inv:hover,.hb-tencent-weibo-inv:hover:after,.hb-tencent-weibo-inv:hover:before{background:#20B8E5;border-color:#20B8E5;color:#fff}

ul.menu {
    position: absolute;
    background-color:white;
    z-index:1000;
}

.hb{
  display:table-cell;
  vertical-align:middle;
  font-family: 'Arial Narrow', Arial, sans-serif;
  text-shadow: 0px 0px;
}
.hb:hover,.hb:hover:after,.hb:hover:before{
    background-color: #2ecc71;
    border-left: 1px solid #2ecc71;
    border-right: 1px solid #2ecc71;
    color: #2c3e50;
}

.hb-xs{
  top:10px;
  line-height: 10.5px;
    font-size: 13px;
}

.hb-xs-margin{
      margin: 5px;
}



.switch {
  margin: auto;
  position: relative;
}

.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.switch input {
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.switch {
  width: 40px;
  height: 40px;
}

.switch label {
  border-radius: 50%;
  background: #eaeaea;
  box-shadow: 
      0 3px 5px rgba(0,0,0,0.25),
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 -5px 5px rgba(100,100,100,0.1),
      inset 0 5px 5px rgba(255,255,255,0.3);
}

.switch label:after {
  content: "";
  position: absolute;
  top: -8%; right: -8%; bottom: -8%; left: -8%;
  z-index: -1;
  border-radius: inherit;
  background: #ddd;
  background: -moz-linear-gradient(#ccc, #fff);
  background: -ms-linear-gradient(#ccc, #fff);
  background: -o-linear-gradient(#ccc, #fff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#fff));
  background: -webkit-linear-gradient(#ccc, #fff);
  background: linear-gradient(#ccc, #fff);
  box-shadow: 
    inset 0 2px 1px rgba(0,0,0,0.15),
    0 2px 5px rgba(200,200,200,0.1);
}

.switch label:before {
  content: "";
  position: absolute;
  width: 20%;
  height: 20%;
  border-radius: inherit;
  left: 40%;
  top: 40%;
  background: #969696;
  background: radial-gradient(40% 35%, #ccc, #969696 60%);
  box-shadow:
      inset 0 2px 4px 1px rgba(0,0,0,0.3),
      0 1px 0 rgba(255,255,255,1),
      inset 0 1px 0 white;
}

.switch input:checked ~ label {
  background: #dedede;
  background: -moz-linear-gradient(#dedede, #fdfdfd);
  background: -ms-linear-gradient(#dedede, #fdfdfd);
  background: -o-linear-gradient(#dedede, #fdfdfd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#fdfdfd));
  background: -webkit-linear-gradient(#dedede, #fdfdfd);
  background: linear-gradient(#dedede, #fdfdfd);
}

.switch input:checked ~ label:before {
  background: #25d025;
  background: radial-gradient(40% 35%, #5aef5a, #25d025 60%);
  box-shadow:
      inset 0 3px 5px 1px rgba(0,0,0,0.1),
      0 1px 0 rgba(255,255,255,0.4),
      0 0 10px 2px rgba(0, 210, 0, 0.5);
}


.page-cover{
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
    height: 88vh;
    z-index: 1000;
    display: table;
    left: -6px;
    text-align: center;
}
.page-cover span{
    font-size: 32px;
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
        display: table-cell;
    vertical-align: middle;
     }

.switch-on{
    color: white;
    font-size: smaller;
    float: left;
    position: relative;
    right: -4px;
}

.switch-off{
  font-size: smaller;
    float: right;
    position: relative;
    left: -5px;
    top: 1px;
}

.switch-handle:before{
    content: 'on';
    color: white;
    font-size: smaller;
    float: left;
    position: relative;
    right: 15px;
        top: 1px;
}
.switch-handle:after{
content: 'off';
    font-size: smaller;
    float: right;
    position: absolute;
    left: 20px;
    top: 0px;
    overflow: hidden;
        top: 1px;
}

.switch{
  overflow: hidden;
}

.form-control {
    padding: 6px 6px;
    }

.top-right{
      position: absolute;
    right: 0;
    top: 0;
}

.top-left{
    position: absolute;
    left: 0;
    top: 0;
}

.info-box{
  text-align:left;
  position:absolute;
  padding:5px;
  background-color:white;
  z-index:1000;
  border:2px solid grey;
  border-radius:20px;
}

#combatLog{
    max-height: 36%;
    min-height:70px;
    overflow: auto;
    line-height: 1.6em;
    border: 2px solid grey;
    clear: both;
    border-radius: 4px;
}

 .panelFill{
   height: 70vh;
   overflow: auto;
  }  

.table-hover>tbody>tr:hover>td {
  background-color: #001FFF;
  color:#eeeeee;
  cursor:pointer;
}
.table-hover-selected>tbody>tr:hover>td {
  background-color: #098201;
  color:#eeeeee;
}
.padded{
  padding:0.5%;
}
.center{
  text-align:center;
}
.center > div,.center > input,.center > span{
  margin:auto;
}
textarea.form-control {
    resize: none;
    height: 110px;
}
.dropdown-submenu{
  position:relative;
}
.dropdown-submenu ul{
      top: 0;
    left: 30%;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn-primary a{color:white;}
.btn-primary a:hover{text-decoration: none;}
.table>tbody>tr>td{
  padding:4px;
}
.scene{
  max-width: 220px;
  text-align: center;
  padding: 5px 5px 5px 5px;
  min-width: 48px;
  width:50%;
  display:inline-block;
  }
  .right-menu-button{
    font-size: 2.5vh; 
    padding-top: 0.5vh;
  }
  .combat-section{
    height:98%
  }
  .combat-section img{
    cursor:pointer;
  }
  .combat-section .combat-grid{
    height:100%;
    border-radius: 10px;
    background-color: white;
  }
  .combat-grid > div:first-child{
    max-height: 51.6%;
    overflow: auto;
  }
  .combatant{
    margin-bottom:0px;
  }
  table.combatant thead tr th:first-child{
    width:40px;
  }
    #combat-foot{
    width:95% !important;
  }
  table.combatant thead tr th:nth-child(2){
    width:auto;text-align:left;
  }
  table.combatant thead tr th:nth-child(4),table.combatant thead tr th:nth-child(5),table.combatant thead tr th:nth-child(5),table.combatant thead tr th:nth-child(6),{
    text-align:center;
  }
  table.combatant thead tr th:nth-child(2) > div{
    float: right;
  }
  table.combatant tbody tr td:nth-child(2){
    width:auto;text-align:left;
  }
  table.combatant tbody tr td:nth-child(3){
    width: 95px;
  }
  table.combatant tbody tr td:nth-child(5){
    width: 65px;
  }
  table.combatant tbody tr td:nth-child(1){
    width: 45px;
  }
  table.combatant tbody tr td:nth-child(2) input{
    width:100%;text-align:left;
  }
  table.combatant thead tr th:first-child span{
  font-size:xx-small;
    }

  table.combatant input {
  border:0px;
  text-align: center;
  width:100%;
  background:transparent;
}


  .hp-options{
    margin:0px;
    border: 0px;
    padding:0px;
    width:0px;
  }

  .hp-options li{
  position:absolute;
  border: 0px;
  width: 31px;
  z-index:1000;
   color: #fff !important;
    background-color: #ff3b30;
        padding: 1px 5px;
     }

 .hp-options li:nth-child(n+4){
    color: #fff !important;
    background-color: #4cd964;
    padding-left: 4px;
      }


  .hp-options>li>a:hover {
    color: #fff !important;
    background-color: transparent !important;
  }
    .hp-options>li>a:focus  {
    color: #fff !important;
    background-color: transparent !important;
  }
    .hp-options>li>a {
    padding:1px 0px !important;
    color: #fff !important;
  }

 .hp-options li:nth-child(1){left: -25px;top: -17px;border-top-left-radius: 20px;text-align:right;}
 .hp-options li:nth-child(2){left: -25px;top: 5px;height: 26px;text-align:right;}
 .hp-options li:nth-child(3){left: -25px;top: 31px;border-bottom-left-radius: 20px;text-align:right;}
 .hp-options li:nth-child(4){border-top-right-radius: 20px;top: -17px;left: 60px;text-align:left;}
 .hp-options li:nth-child(5){top: 5px;height: 26px;left: 60px;text-align:left;}
 .hp-options li:nth-child(6){left: 60px;top: 31px;border-bottom-right-radius: 20px;text-align:left;}
 .hp-options li:nth-child(7):after{color:black;content: '\f05c';font: normal normal normal 14px/1 FontAwesome;} 
  .hp-options li:nth-child(7){
    background-color: transparent;
    top: -30px;
    right: 50px;
  }

  .quickEntry {margin-top: 2px;
    position: absolute;
    background-color: white;
    z-index: 100;
    margin-left: 40px;}
  .quickEntry input {display:inline-block;}
  .quickEntry input:nth-child(2), .quickEntry input:nth-child(3), .quickEntry input:nth-child(4){width:45px;}
  .quickEntry input:nth-child(7) {width:75px;}
  .combat-side{height:97%;float:left;padding-right: 0px;padding-left: 15px}
  .combat-side > div > div {text-align:center;}
  .combat-side > div > div img {height:50px;width:auto;}
  .dice-roll-btn{width:22%;float:right}
  .dice-roll-input{width:75%;}
  .monster-info{height: 60vh;
    overflow: auto;
    text-align: left !important;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    padding: 12px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
    border-top-right-radius: 10px;
      }
  .monster-info table{width:auto}


.spell-block tr > td:first-child{
   text-align:right;
   font-weight:bold;
}

.dice-bag-modal{
  z-index: 1050; max-width: 250px; top: 30vh; left: 71%;
}

.sound-options-modal{
  z-index: 1050; max-width: 250px;
}


  .sound-options-modal  input[type=checkbox].form-control {
    height: 20px;
    width:25px;
    float:right;
  }

.sound-options-modal .switch.active .switch-handle {
    border-color: #007aff;
    -webkit-transform: translate(20px,0);
    -ms-transform: translate(20px,0);
    -o-transform: translate(20px,0);
    transform: translate(20px,0);
}

.sound-options-modal .switch .switch-handle {
    width: 20px;
    height: 20px;
}

.sound-options-modal .switch {
    width: 40px;
    height: 20px;
}



.subitem input {
  border:0px;
  text-align: center;
  width:100%;
  background:transparent;
}

.table {
    width: 99.9%;
}

.m-x-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.m-a-0 {
  margin: 0 0 !important;
}

.m-t-0 {
  margin-top: 0 !important;
}

.m-r-0 {
  margin-right: 0 !important;
}

.m-b-0 {
  margin-bottom: 0 !important;
}

.m-l-0 {
  margin-left: 0 !important;
}

.m-x-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-a-1 {
  margin: 1rem 1rem !important;
}

.m-t-1 {
  margin-top: 1rem !important;
}

.m-r-1 {
  margin-right: 1rem !important;
}

.m-b-1 {
  margin-bottom: 1rem !important;
}

.m-l-1 {
  margin-left: 1rem !important;
}

.m-x-1 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.m-y-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.m-a-2 {
  margin: 1.5rem 1.5rem !important;
}

.m-t-2 {
  margin-top: 1.5rem !important;
}

.m-r-2 {
  margin-right: 1.5rem !important;
}

.m-b-2 {
  margin-bottom: 1.5rem !important;
}

.m-l-2 {
  margin-left: 1.5rem !important;
}

.m-x-2 {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important;
}

.m-y-2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.m-a-3 {
  margin: 3rem 3rem !important;
}

.m-t-3 {
  margin-top: 3rem !important;
}

.m-r-3 {
  margin-right: 3rem !important;
}

.m-b-3 {
  margin-bottom: 3rem !important;
}

.m-l-3 {
  margin-left: 3rem !important;
}

.m-x-3 {
  margin-right: 3rem !important;
  margin-left: 3rem !important;
}

.m-y-3 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.p-a-0 {
  padding: 0 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.p-l-0 {
  padding-left: 0 !important;
}

.p-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-a-1 {
  padding: 1rem 1rem !important;
}

.p-t-1 {
  padding-top: 1rem !important;
}

.p-r-1 {
  padding-right: 1rem !important;
}

.p-b-1 {
  padding-bottom: 1rem !important;
}

.p-l-1 {
  padding-left: 1rem !important;
}

.p-x-1 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.p-y-1 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.p-a-2 {
  padding: 1.5rem 1.5rem !important;
}

.p-t-2 {
  padding-top: 1.5rem !important;
}

.p-r-2 {
  padding-right: 1.5rem !important;
}

.p-b-2 {
  padding-bottom: 1.5rem !important;
}

.p-l-2 {
  padding-left: 1.5rem !important;
}

.p-x-2 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.p-y-2 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.p-a-3 {
  padding: 3rem 3rem !important;
}

.p-t-3 {
  padding-top: 3rem !important;
}

.p-r-3 {
  padding-right: 3rem !important;
}

.p-b-3 {
  padding-bottom: 3rem !important;
}

.p-l-3 {
  padding-left: 3rem !important;
}

.p-x-3 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.p-y-3 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pos-f-t {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.p-t-4 {
  padding-top: 4rem !important;
}


.p-t-5 {
  padding-top: 5rem !important;
}


.p-t-6 {
  padding-top: 6rem !important;
}


.m-1{ margin:1.5px;}
.m-2{ margin:3px;}
.m-3{ margin:4.5px;}
.m-4{ margin:6px;}
.m-5{ margin:7.5px;}
.m-6{ margin:9px;}
.m-7{ margin:10.5px;}
.m-8{ margin:12px;}
.m-9{ margin:13.5px;}
.m-10{margin:15px;}

.p-1{ padding:1.5px;}
.p-2{ padding:3px;}
.p-3{ padding:4.5px;}
.p-4{ padding:6px;}
.p-5{ padding:7.5px;}
.p-6{ padding:9px;}
.p-7{ padding:10.5px;}
.p-8{ padding:12px;}
.p-9{ padding:13.5px;}
.p-10{padding:15px;}


.hidden-xs-up {
  display: none !important;
}

@media (max-width: 543px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 544px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.visible-print-block {
  display: none !important;
}

.help-shown{
      z-index: 12001 !important;
    background: grey;
    border-radius: 10px;
}
.help-overlay{
      width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    z-index: 11000;
    opacity: 0.85;
}

.help-text{
  position:absolute;
  color:white;
  z-index:12000;
  width: 100%;
  font-size: 1.3em;
  padding: 50px;
}

#helpBtnGroup{
  position:absolute;
  z-index:12020;
      left: 40%;
    bottom: 1%;
}


.fa-question-circle span{
  display:block;
}

.help-question{
    background-color: white;
    font-size: 1.5em;
    z-index: 100;
    min-width: 400px;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 16px;
    text-shadow: 0px 0px;
    }
  .help-question:before{
    top: 0px;
    position: absolute;
    left: 2px;
    }

.nav>li>a {
text-decoration: none;
background-color: #eee;
border-color: #eee #eee #ddd;
}
.nav-tabs>li {
    border-bottom: 1px solid #ddd;
}
.nav-tabs {
    border-bottom: 0px solid #ddd;
}

.dark-background{
      background: grey;
}