<div ui-content-for="title">
<span>FAQ</span>
</div>
<div class="scrollable section" >
<div class="scrollable-content">
<div>
<ul>
<li><a href="#Who-Are-You">About GameMaster.Pro</a></li>
<li><a href="#Why-Charge">Why Charge/Why Charge So Little?</a></li>
<li><a href="#manual">Are you going to write a manual?</a></li>
<li><a href="#howmuch">How much wood could a wood chuck chuck?</a></li>
<li><a href="#why">Why are there so few questions here?</a></li>
</ul>
</div>
<div>
<ul>
<li><h4><a name="Who-Are-You"></a>About GameMaster.Pro</h4><p>GameMaster.Pro is just me: Daniel Boggs.  I designed, developed, tested, bled, cried, screamed, and finally published this tool hoping to make tabletop games around the world a little better.  It would be great if it took off and I eventually had a few thousand users, but even a few hundred would be fun.  No matter what I'm going to keep working on it, because I use it myself for my games!</p></li>
<li><h4><a name="Why-Charge"></a>Why Charge/Why Charge So Little</h4><p>I'm expecting people may ask why I am charging for this tool, or why I am charging such a small amount.  I thought about trying to keep this going as a free tool, or as something that is ad supported, but the processing requirements are surprisingly high so if I get very many users the server costs will start adding up.  The reson I didn't do ad supported is because I focused on using every INCH of screen space to its fullest.  Ads would just destroy that.  Finally, why so little?  Why less than $3 a month?  Well because I don't want to get rich off this thing.  I'd rather more people use it than charge a hefty fee.  In fact if you can't afford the monthly fee email me at contact@bwa-designs.com and we'll work somethign out for you.</p></li>
<li><h4><a name="manual"></a>Are you going to write a manual?</h4><p>yes.  Someday soon I hope.</p></li>
<li><h4><a name="howmuch"></a>How much wood could a wood chuck chuck?</h4><p>This question is far to involved for a FAQ.  I may devote an entirely separate site to answering JUST this question...</p></li>
<li><h4><a name="why"></a>Why are there so few questions here?</h4><p>I'm waiting for more people to ask questions before I can determine what would be considered "Frequent"!  That said, feel free to email your questions to contact@bwa-designs.com</p></li>
</ul>
</div>
</div>
</div>