<div ui-content-for="title">
  <span>{{heading}}</span>
</div>

<div ui-content-for="navbarAction">
  <div ui-toggle="uiSidebarRight" style="font-size: 2.5vh; padding-top: 0.5vh;" class="btn">
    <i class="fa fa-book"></i> Spells
  </div>
</div>

<div  ui-content-for="rightSide"><div class="scrollable" id="spellscroll">
  <div class="scrollable-content" style="overflow: hidden;" >
      <div class="list-group" style="height:100%;/*height: 100vh;
                                      margin-bottom: 0px;
                                      top: 0;
                                      position: absolute;*/" >
<input type="text" placeholder="Filter by Name..." ng-model="filterName.name" style="width: 70%;border:1px solid black;background-color:white;max-width:70%;position:fixed;top:-1px;border-bottom-right-radius:6px;border-bottom-left-radius:6px;height:34px;" autocomplete="off" />
<input type="text" placeholder="Level..." ng-model="filterLevel.level" style="width: 30%;border:1px solid black;background-color:white;max-width:30%;position:fixed;top:-1px;border-bottom-right-radius:6px;border-bottom-left-radius:6px;height:34px;left: 70%;" autocomplete="off" />
    <ul style="height: 100%;margin-top:32px;overflow:auto;padding-bottom:32px" class="list-unstyled section">
      <li ng-repeat="spell in spells | filter:filterName | filter:filterLevel" style="text-align:center;" is-loading="loading" class="spell-box" ng-click="loadSpell(spell)">{{spell.name}} <small style="font-size:70%">(Level{{spell.level}})</small></li>
    </ul>
      </div>
  </div>
</div></div>



<div class="scrollable">
  <div class="scrollable-content section">
<form role="form" id="add-page" ng-submit="saveEffect()">
<div class="form-group col-md-4">
<label>Spell Name</label>
<input class="form-control" type="text" ng-model="spell.name"/>
<label>Short Text</label>
<textarea class="form-control"type="text" ng-model="spell.shorttext" rows="3"></textarea>
</div>
  <div class="form-group col-md-8">
  <label>Full Text</label>
  <textarea class="form-control" ui-tinymce="tinymceOptions" type="text" ng-model="spell.fulltext" rows="5"></textarea>
  </div>

<div class="form-group col-md-1 text-center">
<label>Level</label>
<input class="form-control"type="text" ng-model="spell.level"/>
</div>

<div class="form-group col-md-1 text-center">
<label>Components</label>
<input class="form-control"type="text" ng-model="spell.components"/>
</div>

<div class="form-group col-md-1 text-center">
<label>Range</label>
<input class="form-control"type="text" ng-model="spell.range"/>
</div>

<div class="form-group col-md-2 text-center">
<label>School</label>
<input class="form-control"type="text" ng-model="spell.school"/>
</div>

<div class="form-group col-md-1 text-center">
<label>Save</label>
<input class="form-control"type="text" ng-model="spell.save"/>
</div>

<div class="form-group col-md-1 text-center">
<label>Casting Time</label>
<input class="form-control"type="text" ng-model="spell.casttime"/>
</div>

<div class="form-group col-md-2 text-center">
<label>Duration</label>
<input class="form-control"type="text" ng-model="spell.duration"/>
</div>

<div class="form-group col-md-3 text-center">
<label>Attack</label>
<input class="form-control"type="text" ng-model="spell.attack"/>
</div>

<div class="form-group col-md-6 text-center">
<label>Damage/Effect</label>
<input class="form-control"type="text" ng-model="spell.damage"/>
</div>




<input type="submit" class="btn btn-success" value="Save">
</div>
</form>
</div>
</div>
 