<div ui-content-for="title">
  <span>Edit Sounds</span>
</div>
<div class="scrollable" ng-init="soundEditInit()">
  <div class="scrollable-content section" style="background-color:white;">

  <p>While this section is fully functional, instructions have not been written for it yet and it isn't all that intuitive.  Tutorial for creating scenes will be coming very soon</p>
    <a href="/edit/collection/new" class="btn btn-success pull-right"> Add New Module</a>
    <h1>Collection List</h1><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Collection Name</th>
          <th>Description</th>
          <th>Scenes</th>
        </tr>
      </thead>

      <tr ng-repeat="collection in allCollections">
        <td class="col-md-2">{{collection.name}}</td>
        <td class="col-md-4">{{collection.desc}}</td>
        <td class="col-md-6"><span ng-repeat="scene in collection.scenes">{{scene.name}};</span></td>
        <td><a ng-href="/edit/collection/{{collection.id}}">Edit</a></td>
        <td><a ng-href="#" ng-click="deleteCampaign(collection.id)">Delete</a></td>
      </tr>
    </table>

    <a href="/edit/scene/new" class="btn btn-success pull-right"> Add New Scene</a>
    <h1>Scenes List</h1><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Scene Name</th>
          <th>Description</th>
          <th>Effects</th>
        </tr>
      </thead>

      <tr ng-repeat="scene in allScenes">
        <td class="col-md-2">{{scene.name}}</td>
        <td class="col-md-4">{{scene.desc}}</td>
        <td class="col-md-6"><span ng-repeat="effect in scene.effects">{{effect.name}};</span></td>
        <td><a ng-href="/edit/scene/{{scene.id}}">Edit</a></td>
        <td><a ng-click="deleteScene(scene.id)">Delete</a></td>
      </tr>
    </table>

    <a href="/edit/effect/new" class="btn btn-success pull-right"> Add New Effect</a>
    <h1>Effects List</h1>    <br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Effect Name</th>
          <th>Description</th>
          <th>Sounds</th>
        </tr>
      </thead>
      <tr ng-repeat="effect in allEffects">
        <td class="col-md-2">{{effect.name}}<span style="display:none">{{effect._id}}</span></td>
        <td class="col-md-4">{{effect.desc}}</td>
        <td class="col-md-6"><span ng-repeat="sound in effect.sounds">{{sound.name}};</span></td>
        <td> <a ng-href="/edit/effect/{{effect.id}}">Edit</a></td>
        <td> <a ng-click="deleteEffect(effect.id,$index)">Delete</a></td>
      </tr>
    </table>
  </div>
</div>
<div ui-content-for="navbarAction"></div>