<h1>{{heading}}</h1>
<hr/>
<div class="scrollable">
  <div class="scrollable-content">
<form role="form" id="add-page" ng-submit="saveEffect()">
<div class="form-group">
<label>Effect ID</label>
<input class="form-control" type="text" readonly ng-model="effectContent._id"/>
</div>
<div class="form-group">
<label>Title</label>

<input class="form-control" type="text" ng-model="effectContent.name"/>
</div>
<div class="form-group">
<label>Description</label>
<input class="form-control"type="text" ng-model="effectContent.desc"/>
</div>

<div class="form-group">
<label>Sounds</label><button type="button" ng-click="addSound()" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-plus"></span></button>
<table><thead><tr><th>Name</th><th>file</th><th>Volume %</th><th>Pitch</th><th>Pitch Variance</th><th>Chance</th><th>Fade In</th><th>Fade Out</th><th>Reverb</th><th>Rand Loc</th></tr></thead>
<tbody>
  <tr ng-repeat="sound in effectContent.sounds">
    <td><input class="form-control"type="text" ng-model="sound.name"/></td>
    <td><input class="form-control"type="text" ng-model="sound.file"/></td>
    <td><input class="form-control"type="text" ng-model="sound.vol"/></td>
    <td><input class="form-control"type="text" ng-model="sound.pitchSet"/></td>
    <td><input class="form-control"type="text" ng-model="sound.pitchVar"/></td>
    <td><input class="form-control"type="text" ng-model="sound.chance"/></td>
    <td><input class="form-control"type="text" ng-model="sound.fadeIn"/></td>
    <td><input class="form-control"type="text" ng-model="sound.fadeOut"/></td>
    <td><input class="form-control"  style="width:20px;box-shadow: none;-webkit-box-shadow:none" type="checkbox" ng-model="sound.reverb"/></td>
    <td><input class="form-control"  style="width:20px;box-shadow: none;-webkit-box-shadow:none" type="checkbox" ng-model="sound.randLoc"/></td>
  </tr>
</tbody>
</table>
</div>

<div class="form-group">
<label>Volume %</label>
<input class="form-control"type="number" ng-model="effectContent.vol"/>
</div>

<div class="form-group">
<label>Delay Range Low</label>
<input class="form-control"type="number" ng-model="effectContent.delayL"/>
</div>

<div class="form-group">
<label>Delay Range High</label>
<input class="form-control"type="number" ng-model="effectContent.delayH"/>
</div>
<style>
ul.form-group{
	padding-left:0px;
}
ul.form-group > li{
	padding-left:20px;
	list-style:none;
	text-align: center;
}
input[type=checkbox]{margin:auto;}
</style>
<ul class="form-group" style="flex-flow: row wrap;display: flex;text-align: center;">
<li><label>Loop</label>
<input class="form-control" style="width:20px;box-shadow: none;-webkit-box-shadow:none" type="checkbox" ng-model="effectContent.loop"/></li>
<li><label>Pre-Delay</label>
<input class="form-control" style="width:20px;box-shadow: none;-webkit-box-shadow:none" type="checkbox" ng-model="effectContent.preDelay"/></li>
<li><label>Optional</label>
<input class="form-control" style="width:20px;box-shadow: none;-webkit-box-shadow:none" type="checkbox" ng-model="effectContent.optional"/></li>
<li><label>Sequential</label>
<input class="form-control" style="width:20px;box-shadow: none;-webkit-box-shadow:none" type="checkbox" ng-model="effectContent.seq"/></li>
</ul>



<input type="submit" class="btn btn-success" value="Save">
</div>
</form>
</div>
</div>
 <div ui-content-for="navbarAction">

  </div>