      <td ng-if="false" style="display:none" ng-if="windowWidth>768"  class="buttonRow">

      <div class="btn-group btn btn-xs btn-primary" >
  <a ui-turn-on='combatantDropdown{{$index}}' class=''>
    <span ng-bind="combatant.catt.name || 'Select Attack'"></span> <span class="fa fa-caret-down"> </span>
  </a>

  <ul 
    class="dropdown-menu"
    ui-outer-click="submenu=null;Ui.turnOff('combatantDropdown'+$index)"
    ui-outer-click-if="Ui.active('combatantDropdown'+$index)"
    role="menu"
    ui-show="combatantDropdown{{$index}}" 
    ui-state="combatantDropdown{{$index}}">
<li  ng-repeat="attack in combatant.attacks" ng-init="visible = false" ng-class="{'dropdown-submenu': attack.submenu && attack.submenu.length}">
  <a ng-show="attack.submenu && attack.submenu.length" ng-click="visible=!visible">{{attack.name}}</a>
  <a ng-hide="attack.submenu && attack.submenu.length" ng-click="combatant.catt=attack;submenu=null;Ui.turnOff('combatantDropdown'+$parent.$index)">{{attack.name}}</a>
  <ul ng-show="visible" class="dropdown-menu">
    <li ng-repeat="subitem in attack.submenu" ng-init="svisible = false" ng-class="{'dropdown-submenu': subitem.submenu && subitem.submenu.length}">
      <a ng-show="subitem.submenu && subitem.submenu.length" ng-click="svisible=!svisible">{{subitem.name}}</a>
      <a ng-hide="subitem.submenu && subitem.submenu.length" ng-click="combatant.catt=subitem;$parent.visible=null;Ui.turnOff('combatantDropdown'+$parent.$parent.$index)">{{subitem.name}}</a>
      <ul  ng-show="svisible" class="dropdown-menu">
        <li ng-repeat="subsubitem in subitem.submenu">
          <a ng-click="combatant.catt=subsubitem;$parent.svisible=false;$parent.$parent.visible=false;Ui.turnOff('combatantDropdown'+$parent.$parent.$parent.$index)">{{subsubitem.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
      <li ng-show="attack.submenu && attack.submenu.length" class="divider"></li>

</li>
</ul>
</div>

      <button type="button" ng-click="Action(combatant.name,combatant.catt,'d')" class="btn-xs btn btn-default ">
      <span class="fa fa-chevron-down" aria-hidden="true"></span> 
      </button>
      <button type="button" ng-click="Action(combatant.name,combatant.catt)" class="btn-xs btn btn-default ">
      <span class="fa fa-minus" aria-hidden="true"></span> 
      </button>
      <button type="button"ng-click="Action(combatant.name,combatant.catt,'a')" class="btn-xs btn btn-default ">
      <span class="fa fa-chevron-up" aria-hidden="true"></span> 
      </button>
      </td>
      <td  ng-if="false" style="display:none" ng-if="windowWidth>768" class="buttonRow">
      <select type="text"  ng-model="combatant.cskill" ng-options="skill as skill.name for skill in combatant.skills" >
      <option value="">Select Skill</option>
      </select>
      <button type="button" ng-click="Action(combatant.name,combatant.cskill,'d')" class="btn-xs btn btn-default ">
      <span class="fa fa-chevron-down" aria-hidden="true"></span> 
      </button>
      <button type="button" ng-click="Action(combatant.name,combatant.cskill)" class="btn-xs btn btn-default ">
      <span class="fa fa-minus" aria-hidden="true"></span> 
      </button>
      <button type="button"ng-click="Action(combatant.name,combatant.cskill,'a')" class="btn-xs btn btn-default ">
      <span class="fa fa-chevron-up" aria-hidden="true"></span> 
      </button>
</td>