<div ui-content-for="title">
  <span>Edit Sounds</span>
</div>
<div class="scrollable">
  <div class="scrollable-content section">


<a href="/edit/spell/new" class="btn btn-success pull-right"> Add New Spell</a><h1>Spell List</h1>
<hr/>
<table class="table">
  <thead>
    <tr>
      <th>Spell Name</th>
      <th>Description</th>
      <th>Level</th>
    </tr>
  </thead>

  <tr ng-repeat="spell in spells">
    <td class="col-md-2">{{spell.name}}<span style="display:none">{{spell.id}}</span></td>
    <td class="col-md-4">{{spell.shorttext}}</td>
    <td class="col-md-6">{{spell.level}}</td>
    <td> <a ng-href="/edit/spell/{{spell.id}}">Edit</a>
    </td>
    <td> <a ng-click="deleteSpell(spell.id,$index)">Delete</a>
    </td>
  </tr>
</table>
</div>
</div>
 <div ui-content-for="navbarAction">

  </div>