<style>
.dropdown-submenu{
  position:relative;
}
.dropdown-submenu ul{
      top: 0;
    left: 30%;
}
.btn-primary a{color:white;}
.btn-primary a:hover{text-decoration: none;}
</style>

<div class="btn-group btn btn-xs btn-primary" >
  <a ui-turn-on='myDropdown2' class=''>
    <span ng-bind="combatant.catt.name || 'Select Attack'"></span> <span class="glyphicon glyphicon-triangle-bottom"> </span>
  </a>

  <ul 
    class="dropdown-menu"
    ui-outer-click="submenu=null;Ui.turnOff('myDropdown2')"
    ui-outer-click-if="Ui.active('myDropdown2')"
    role="menu"
    ui-show="myDropdown2" 
    ui-state="myDropdown2">
<li  ng-repeat="attack in combatant.attacks" ng-init="visible = false" ng-class="{'dropdown-submenu': attack.submenu && attack.submenu.length}">
  <a ng-show="attack.submenu && attack.submenu.length" ng-click="visible=!visible">{{attack.name}}</a>
  <a ng-hide="attack.submenu && attack.submenu.length" ng-click="combatant.catt=attack;submenu=null;Ui.turnOff('myDropdown2')">{{attack.name}}</a>
  <ul ng-show="visible" class="dropdown-menu">
    <li ng-repeat="subitem in attack.submenu" ng-init="svisible = false" ng-class="{'dropdown-submenu': subitem.submenu && subitem.submenu.length}">
      <a ng-show="subitem.submenu && subitem.submenu.length" ng-click="svisible=!svisible">{{subitem.name}}</a>
      <a ng-hide="subitem.submenu && subitem.submenu.length" ng-click="combatant.catt=subitem;$parent.visible=null;Ui.turnOff('myDropdown2')">{{subitem.name}}</a>
      <ul  ng-show="svisible" class="dropdown-menu">
        <li ng-repeat="subsubitem in subitem.submenu">
          <a ng-click="combatant.catt=subsubitem;$parent.svisible=false;$parent.$parent.visible=false;Ui.turnOff('myDropdown2')">{{subsubitem.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
      <li ng-show="attack.submenu && attack.submenu.length" class="divider"></li>

</li>
</ul>
</div>