
<section ng-if="hideMenu">
	<div ui-content-for="menu"> </div>
</section>
  <h1>Welcome</h1>

  Yeah, nothing here yet...  just go <a href="/campaignboard">here</a>

<br><br><br>
  <h2>Text/info I want on the welcome page</h2>

  <ul>
  <li>Designed as an app, not a webpage (minimalist,etc)</li>
  <li>Brief usage instructions</li>
  <li>Screenshots and feature highlights</li>
  <li>Details on free trial and monthly fee</li>
  <li>Login and Register links</li>
  <li>About us and contact us links?</li>
  </ul>

<br>and this:
  <p>Given the time required to gather and catalog sounds I started with what I thought would be most useful, but more can (and will be) added with time. If you cannot find the sound you need for your scene there are several good sources out there.  </p>

  <p><a href="http://soundbible.com">SoundBible.com</a> has lots of royalty free sounds available (then MUST be royalty free if you have any intention of sharing your scenes or effects).</p>
  <p><a href="https://www.freesound.org">www.FreeSound.org</a> is another good source, though it can be hard to find exactly what you are looking for.</p>
  <p>Finally <a href="https://www.audioblocks.com">www.AudioBlocks.com</a> has a large and well organized selection of sounds.  At LEAST for the first year, and possibly for longer if it is useful to my users, I have a paid account to pull sounds from AudioBlocks.  If you find sounds there that you would like please contact me and I will download them and add them to the public sound files and notify you of their upload.</p>
