
<div ui-content-for="title">
  <span>Welcome</span>
  </div>
  <div class="scrollable section" >
  <div class="scrollable-content">

  <div class="col-xs-12 text-center"><img src="/img/GMP Logo (medium).jpg"></div>
<p>GameMaster.Pro is a web application designed to make Game Masters' daunting task of creating a rich and intricate world a little easier.  As well as make the mechanics of game run a little smoother.  There are numerous GM tools around the net that do similar things so why, you may ask, design a new one?  Well all the other tools missed one key element for me: Sound!  I find bringing sound effects (and sometimes music) into the game adds an element of richness that truly takes the experience to the next level.  So since I was unable to find something that filled the bill for me, I designed it for myself.  As it grew and improved it occured to me that other GM's might get use out of it as well. GMP was designed as an app, not a webpage so it is what I would call a "minimalist" design.  The goal was to pack as much information into the space as possible.</p>
<br>
<h3>Here are some features of Game Master Pro:</h3>
  <ul>
  <li>Support for up to 7.1 surround sound scenes for an immersive experience</li>
  <li>Pre-designs "Soundscapes" for common RPG Scenarios</li>
  <li>Soundscapes can have "on the fly" changes; removing specific optional effects or changing volumes.</li>
  <li>Design custom soundscapes for your own use, or share them with the community!</li>
  <li>Combat manager makes battles seem effortless. Track init, quickly load SRD or custom creatures, programed attacks at the click of a button</li>
  <li>The "World Generator" creates NPC's not only with names and descriptions, but families, friends, professions, and much much more.  You'll know your NPC's better than you know your neighbors!!</li>
  </ul>
<br>
<h3>List of planned upgrades:</h3>
  <ul>
  <li>Custom Skinning</li>
  <li>"Quick Sounds" (arrow flying by, door slamming, trap triggering,etc)</li>
  <li>Ability to post and browse sound scenes</li>
  <li>Hook/quest generator</li>
  <li>Ability for regions to experience "Disasters" changing</li>
  <li>Regional/Dungeon maps</li>
  <li>Interactive campaign map with NPCs and Notes</li>
  </ul>

  <p>There is too much to go through quickly, and I'll be adding more all the time.  You can look at some screenshots below, or go right ahead and <a href="https://gamemaster.pro/register"  target="_self">register</a> now.  You have 30 days free trial, and after that its just a couple bucks a month (less if you go yearly membership).  The goal is to charge a little as possible to keep the servers running.</p>
  <br><br>

  <h3>Combat Board</h3>
  <div>
<img src="/img/combat-board.jpg"/>
  </div>

  <br><br>

  <h3>NPC Board</h3>
  <div>
<img src="/img/npc-board.jpg"/>
  </div>

  <br><br>

  <h3>World Board</h3>
  <div>
<img src="/img/world-board.jpg"/>
  </div>


</div>
</div>

<!-- 


  <li>Designed as an app, not a webpage (minimalist,etc)</li>
  <li>Brief usage instructions</li>
  <li>Screenshots and feature highlights</li>
  <li>Details on free trial and monthly fee</li>
  <li>Login and Register links</li>
  <li>About us and contact us links?</li>
  </ul>

<br>and this:

 -->