# 480 weeks
<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif)$">
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>

 # 480 weeks
#<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
#Header set Cache-Control "max-age=290304000, public"
#</FilesMatch>
 
# 2 DAYS
#<FilesMatch "\.(xml|txt)$">
#Header set Cache-Control "max-age=172800, public, must-revalidate"
#</FilesMatch>
 
# 2 HOURS
#<FilesMatch "\.(html|htm)$">
#Header set Cache-Control "max-age=7200, must-revalidate"
#</FilesMatch>

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteEngine on

RewriteRule api/(.*?)/(.*) /classes/$1API.php?action=$2
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]