<div ui-content-for="title">
  <span>Campaign Board dev</span> <a style="margin-left:30px;font-size:small;" ng-click="$parent.startTutorial()"> Click here for a tutorial</a>
</div>
<div ui-content-for="navbarAction" ui-swipe-up='viewSlide=true'
         ui-swipe-down='viewSlide=false'>
  <div ui-toggle="uiSidebarRight" class="right-menu-button btn">
    <i class="fa fa-optin-monster"></i> Monsters
  </div>
</div>
<div monsters></div>
<i  ng-class="{'help-shown' : helpStep==6 || helpStep==9}" style="position:fixed;{{viewSlide? 'top:5.5%':'bottom:15px'}};right:5%;z-index: 1001;font-size:20px" ng-click="viewSlide=!viewSlide;moveTutorial(1)" class="fa {{viewSlide? 'fa-arrow-circle-o-up':'fa-arrow-circle-o-down'}}"></i>
<div class="scrollable" style="height:95vh;{{viewSlide? 'top:-100vh':''}}">
    <div class="section scrollable-content dark-background">
      <div ng-include="'/partials/sounds.html'" id="playController" class="col-md-2 col-sm-2" ng-class="{'help-shown' : helpStep==1,'col-md-12 col-sm-12 pull-right p-x-0 bottomplayController':viewSlide}"  ng-controller="SoundCtrl"></div>
	    <div class="col-md-10" id="appBoard">
      <section class="combat-section" combat></section>
    </div>
	</div>
	</div>
<div class="scrollable" style="height:93vh;{{viewSlide? '':'top:100vh'}}">
    <div style="height:78%;">
      <section style="height:99.5%" npcs></section>
	</div>
</div>


<div ui-content-for="modals">
  <div sound-options-modal class="modal" ui-if='soundOptions' ui-state='soundOptions'></div>
  <div add-group-modal class="modal" ui-if='addGroup' ui-state='addGroup'> </div>

  <div dice-bag-modal class="modal" ui-if='diceBag' ui-state='diceBag'> </div>
  
  <div persistent-modal class="modal" ui-if='persistent' ui-state='persistent'> </div>
  </div>

<style>
.scrollable {
    -webkit-transition: top 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: top 2s, height 2s, background-color 2s, transform 2s;
}
.panel-body{padding:2px;}
.panel-group{margin-bottom:0px;height:96.5%;}
.panelFill {height: 85%;}
.scene {max-width:120px;}
.page-cover {height:68vh;}
.citizen-details{height:100%;}
.panel-body .table>tbody>tr>td {
    padding: .2%;
    font-size: .8vw;
}
.panel-body .table>thead>tr>th {
    padding: .2%;
    font-size: .6vw;
}
.bottomplayController{
    position: fixed;
    bottom: 0px;
    height: 20vh !important;    
}
.bottomplayController .list-unstyled{
      white-space: nowrap;
    overflow: auto;

}
</style>

