<base href="/assets/map-generator/" />
<div class="row">
  <div class="btn-group-vertical map-buttons">
    <button
      class="btn btn-lg btn-secondary"
      [ngbTooltip]="'Toggle map info window'"
      [container]="'body'"
      (click)="mapBox = !mapBox"
    >
      <img
        class="img-fluid"
        src="/assets/img/svg/info.svg"
        style="min-width: 2rem"
      />
    </button>
    <button class="btn btn-lg btn-secondary" (click)="npcBox = !npcBox">
      <img class="img-fluid" src="/assets/img/svg/people.svg" />
    </button>
    <button class="btn btn-lg btn-secondary" (click)="timeBox = !timeBox">
      <img class="img-fluid" src="/assets/img/svg/hourglass.svg" />
    </button>
    <button class="btn btn-lg btn-secondary" (click)="hookBox = !hookBox">
      <img class="img-fluid" src="/assets/img/svg/plot-hook.svg" />
    </button>
  </div>

  <app-story-map
    (clickedEmitter)="mapClicked()"
    [burgName]="burgName"
    class="col-12"
    style="z-index: 1"
  ></app-story-map>

  <div class="story-box card" appFreeDragging *ngIf="mapBox">
    <perfect-scrollbar
      class="scroll-container"
      [scrollXMarginOffset]="100"
      style="position: relative; max-height: 80vh"
      fxFlex="auto"
      [config]="config"
    >
      <div class="card-content">
        <div class="card-body">
          <div class="selected-party" *ngIf="selectedParty?.name">
            <label>Selected Party:</label>
            <h5>{{ selectedParty.name }}</h5>
          </div>
          <div class="card-title d-flex">
            <h3 class="text-right pb-0 mb-0" *ngIf="selectedPOI">
              <input
                type="text"
                class="no-border bg-transparent text-primary float-left"
                (change)="saveBtn = 'Save'"
                [(ngModel)]="selectedPOI.name"
              /><span
                id="burgTemperature"
                class="season mr-3"
                container="body"
                [ngbTooltip]="climate"
                *ngIf="selectedPOI.temperature && selectedPOI.biome > -1"
              >
                {{
                  temperatureRange(selectedPOI.biome, selectedPOI.temperature)
                }}
              </span>
            </h3>
            <div appFreeDraggingHandle class="drag-handle">
              <span
                class="icon-minus minimize cursor-pointer"
                (click)="mapBox = false"
              ></span>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                <path
                  d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
                ></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
              <div
                class="icon-dot-circled cursor-pointer bullseye"
                (click)="zoomTo(selectedPOI)"
              ></div>
            </div>
          </div>
          <div *ngIf="selectedPOI.population">
            <div class="label">
              Population:
              <span *ngIf="!editPop" (click)="editPop = true">{{
                selectedPOI.pop_txt
              }}</span>
              <!-- <input
                id="burgPopulation"
                *ngIf="editPop"
                (blur)="editPop = false"
                (change)="saveBtn = 'Save'"
                class="no-border bg-transparent"
                type="number"
                min="0"
                step="1"
                [(ngModel)]="population"
                style="color: #b2b1b5"
              /> -->
              <span
                *ngIf="selectedPOI.culture"
                class="label"
                ngbTooltip="Dominant Culture"
              >
                ({{ mapData.cultures[selectedPOI.culture].name }})
              </span>
            </div>
          </div>

          <div *ngIf="selectedPOI.population">
            <span
              ngbTooltip="State Capital"
              (click)="
                selectedPOI.capital = !selectedPOI.capital; saveBtn = 'Save'
              "
              id="burgCapital"
              [class.text-light]="selectedPOI.capital"
              [class.text-dark]="!selectedPOI.capital"
              style="font-size: 1.55rem"
              class="burgFeature icon-star"
            ></span>
            <span
              ngbTooltip="Port City"
              (click)="selectedPOI.port = !selectedPOI.port; saveBtn = 'Save'"
              id="burgPort"
              [class.text-light]="selectedPOI.port"
              [class.text-dark]="!selectedPOI.port"
              style="font-size: 1.4rem"
              class="burgFeature icon-anchor"
            ></span>
            <span
              ngbTooltip="Has Citadel"
              (click)="
                selectedPOI.citadel = !selectedPOI.citadel; saveBtn = 'Save'
              "
              id="burgCitadel"
              [class.text-light]="selectedPOI.citadel"
              [class.text-dark]="!selectedPOI.citadel"
              class="burgFeature icon-chess-rook"
            ></span>
            <span
              ngbTooltip="Has Walls"
              (click)="selectedPOI.walls = !selectedPOI.walls; saveBtn = 'Save'"
              id="burgWalls"
              [class.text-light]="selectedPOI.walls"
              [class.text-dark]="!selectedPOI.walls"
              class="burgFeature icon-fort-awesome"
            ></span>
            <span
              ngbTooltip="Has Bazaar "
              (click)="selectedPOI.plaza = !selectedPOI.plaza; saveBtn = 'Save'"
              id="burgPlaza"
              [class.text-light]="selectedPOI.plaza"
              [class.text-dark]="!selectedPOI.plaza"
              class="burgFeature icon-store"
            ></span>
            <span
              ngbTooltip="Has Temple"
              (click)="
                selectedPOI.temple = !selectedPOI.temple; saveBtn = 'Save'
              "
              id="burgTemple"
              [class.text-light]="selectedPOI.temple"
              [class.text-dark]="!selectedPOI.temple"
              class="burgFeature icon-chess-bishop"
            ></span>
            <span
              ngbTooltip="Has Shanty"
              (click)="
                selectedPOI.shanty = !selectedPOI.shanty; saveBtn = 'Save'
              "
              id="burgShanty"
              [class.text-light]="selectedPOI.shanty"
              [class.text-dark]="!selectedPOI.shanty"
              class="burgFeature icon-campground"
            ></span>
          </div>
          <quill-editor
            [modules]="editorConfig"
            (onContentChanged)="saveBtn = 'Save'"
            (onSelectionChanged)="onSelectionChanged($event)"
            [(ngModel)]="selectedPOI.notes"
          ></quill-editor>
          <div class="mt-3" style="position: relative">
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-secondary"
                (click)="generateHook(); saveBtn = 'Save'"
              >
                Quick Hook
              </button>
              <button
                type="button"
                class="btn btn-secondary px-1"
                (click)="hookBox = !hookBox"
              >
                <img
                  class="img-fluid"
                  style="min-width: 2rem"
                  src="/assets/img/svg/plot-hook.svg"
                />
              </button>
            </div>
            <div class="mt-2">
              <fa-icon
                *ngIf="quickHook"
                (click)="quickHook = ''"
                [icon]="faTimesCircle"
                style="
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  cursor: pointer;
                  z-index: 100;
                "
              ></fa-icon
              ><fa-icon
                *ngIf="quickHook"
                (click)="
                  selectedPOI.notes = selectedPOI.notes + '<br>' + quickHook
                "
                [icon]="faCopy"
                style="
                  position: absolute;
                  top: 8px;
                  right: 8px;
                  cursor: pointer;
                  z-index: 100;
                "
              ></fa-icon>
              <div>{{ quickHook }}</div>
            </div>
          </div>
          <div class="row" style="position: relative">
            <fa-icon
              *ngIf="selectedNPC"
              (click)="detachNPC(selectedNPC)"
              [icon]="faTimesCircle"
              style="
                position: absolute;
                top: 8px;
                right: 8px;
                cursor: pointer;
                z-index: 100;
              "
            ></fa-icon>
            <fa-icon
              *ngIf="selectedNPC"
              (click)="selectedNPC = null"
              [icon]="faMinusCircle"
              style="
                position: absolute;
                top: 8px;
                right: 30px;
                cursor: pointer;
                z-index: 100;
              "
            ></fa-icon>
            <div *ngIf="selectedNPC" class="col-12">
              <div class="">
                <div>
                  <div class="text-capitalize">
                    <strong>{{ selectedNPC.name }}</strong
                    >, {{ selectedNPC.gender }}
                    {{ selectedNPC.race.name }}
                    {{ selectedNPC.profession?.name }}
                    {{
                      selectedNPC.profession && selectedNPC.lineage ? "|" : ""
                    }}
                    {{ selectedNPC.lineage?.text }}
                    | Age: {{ selectedNPC.age }}
                    {{
                      selectedNPC.alive != 1
                        ? ", " + lifeValues[selectedNPC.alive]
                        : ""
                    }}
                  </div>
                </div>
                <div class="pt-2">
                  {{ selectedNPC.notes }}
                </div>
              </div>
            </div>
          </div>
          <h5 class="mt-1" *ngIf="selectedPOI?.npcs">Notable NPCs</h5>
          <div class="row">
            <ng-container *ngFor="let npc of selectedPOI.npcs; let i = index">
              <div class="col-6 pb-2 poi-npc" (click)="selectedNPC = npc">
                <div
                  class="p-2"
                  [ngClass]="{ 'alert-info': npc?.id == selectedNPC?.id }"
                >
                  <div class="text-capitalize">{{ npc.name }}</div>
                  {{ npc.profession?.name }}
                  {{ npc.profession && npc.lineage ? "|" : "" }}
                  {{ npc.lineage?.text }}
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="btn-group float-right">
          <button
            type="button"
            *ngIf="!hideConfirm && selectedPOI.selectType !== 'burg'"
            class="btn btn-primary"
            (click)="hidePOI(1)"
          >
            Hide
          </button>
          <button
            type="button"
            *ngIf="hideConfirm"
            class="btn btn-primary"
            (click)="hidePOI(0)"
          >
            Confirm?
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="savePOI()"
            [disabled]="saveBtn == 'Saved'"
          >
            {{ saveBtn }}
          </button>
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div
    class="story-box card"
    style="min-width: 42rem"
    appFreeDragging
    *ngIf="npcBox"
  >
    <div class="card-content">
      <div class="card-body">
        <div appFreeDraggingHandle class="drag-handle">
          <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
            <path
              d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
            ></path>
            <path d="M0 0h24v24H0z" fill="none"></path>
          </svg>
        </div>
        <div class="row">
          <div *ngIf="selectedNPC?.id" class="col-5">
            <h4 class="text-capitalize">{{ selectedNPC.name }}</h4>
            <div>
              {{ selectedNPC.race?.name }}, {{ lifeValues[selectedNPC.alive] }}
            </div>
            <div>Age: {{ selectedNPC.age }}</div>
            <div>Gender: {{ selectedNPC.gender }}</div>
            <div *ngIf="selectedNPC.features?.lineage.text">
              {{ selectedNPC.features.lineage.text }}
            </div>
            <div *ngIf="selectedNPC.profession">
              Profession: {{ selectedNPC.profession.name }}
            </div>
            <div>
              Children:
              <span
                *ngFor="let child of selectedNPC.children"
                (click)="selectNpc(child)"
                >{{ child.name + " (" + child.gender.substr(0, 1) + ")" }}
              </span>
            </div>
          </div>
          <div
            class="col-7"
            style="text-transform: lowercase"
            *ngIf="selectedNPC"
          >
            <textarea
              class="form-control"
              style="height: 100%"
              [(ngModel)]="selectedNPC.notes"
            ></textarea>
          </div>
        </div>
        <div class="text-right mt-2">
          <button
            class="btn btn-primary"
            *ngIf="selectedPOI"
            (click)="saveNotes(selectedNPC)"
          >
            Save Notes
          </button>
          <button
            class="btn btn-outline-secondary"
            *ngIf="selectedPOI"
            (click)="attachNPC(selectedNPC)"
          >
            Attach to Selected
          </button>
        </div>
        <div class="row">
          <div
            class="col-4 p-2"
            *ngFor="let npc of recentNpcs; let i = index"
            (click)="selectedNPC = npc"
          >
            <div
              class="p-2"
              style="
                border: 1px solid white;
                border-radius: 1.3rem;
                overflow: hidden;
              "
              [style.height]="npcRow[floor(i / 3)]"
              (mouseenter)="npcRow[floor(i / 3)] = 'auto'"
              (mouseleave)="npcRow[floor(i / 3)] = '3rem'"
            >
              <span class="text-capitalize">{{ npc.name }}</span
              ><br />
              {{ npc.race.name }},
              {{ npc.profession?.name }}
              {{ npc.profession && npc.lineage ? "|" : "" }}
              {{ npc.lineage?.text }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="story-box card"
    style="width: 42vw; left: 4vw; top: 2vh"
    appFreeDragging
    *ngIf="hookBox"
  >
    <div class="card-content">
      <div class="card-body">
        <div class="card-title py-2">
          <div appFreeDraggingHandle class="drag-handle">
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
        <perfect-scrollbar
          class="scroll-container"
          [scrollXMarginOffset]="100"
          style="position: relative; max-height: 45vh"
          fxFlex="auto"
          [config]="config"
        >
          <app-hooks
            (hookEmitter)="selectedPOI.hook = $event"
            [selectedHook]="selectedPOI?.hook"
          ></app-hooks>
        </perfect-scrollbar>
      </div>
    </div>
  </div>

  <div class="story-box card" appFreeDragging *ngIf="timeBox">
    <div class="card-content">
      <div class="card-body">
        <div class="card-title">
          Card Title
          <div appFreeDraggingHandle class="drag-handle">
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
        <p>Something page-header</p>
        <button class="btn btn-primary">maybe some buttons</button>
      </div>
    </div>
  </div>

  <div class="map-note card"></div>
  <div class="city card"></div>
  <div class="structure card"></div>

  <div class="npcs card"></div>
  <div class="active-npc"></div>
  <div class="map-editor"></div>
  <div class="sounds"></div>
</div>
<div class="row"></div>
<ng-template #climate>
  <div
    class="d-flex flex-column"
    style="font-size: 1rem"
    *ngIf="selectedPOI?.biome"
  >
    <span>Average temperature in winter - summer</span>
    <span class="text-capitalize">{{ climateNames[selectedPOI?.biome] }}</span>
    <span>{{ selectedPOI.elevation }} above sea level</span>
  </div>
</ng-template>
