<div  ui-content-for="rightSide"><div class="scrollable" id="monsterscroll">
	<div class="scrollable-content" style="overflow: hidden;" >
			<div class="list-group" style="height:100%;background-color:white;" >
<input type="text" placeholder="Filter by Name..." ng-change="monsterFilter(nfilter,cfilter);uiScrollMonsters.reload()" value="" ng-model="nfilter" style="width: 70%;border:1px solid black;background-color:white;max-width:70%;position:fixed;top:-1px;border-bottom-right-radius:6px;border-bottom-left-radius:6px;height:34px;" autocomplete="off" />
<input type="number" placeholder="CR..." ng-change="monsterFilter(nfilter,cfilter);uiScrollMonsters.reload()" min="0" max="40" ng-model="cfilter" style="width: 30%;border:1px solid black;background-color:white;max-width:30%;position:fixed;top:-1px;border-bottom-right-radius:6px;border-bottom-left-radius:6px;height:34px;left: 70%;" autocomplete="off" />
		<ul ui-scroll-viewport style="height: 100%;margin-top:32px;overflow:auto;" class="list-unstyled monster-list">
			<li ui-scroll="monster in monsterDatasource" adapter="uiScrollMonsters" on-double-click="loadMonster(monster)" buffer-size="10" padding="1" start-index="1" style="text-align:center;" is-loading="loading">
			<div>
			<img ng-if="settings.monsterImages"   onerror="this.src='img/DefaultMonster.jpg';this.title='You can disable monster images in settings if you are missing a lot of image files';" ng-src="{{monster.img}}" ><br> {{monster.name}} <small style="font-size:70%">(CR{{monster.cr}})</small>
			</div></li>
		</ul>
			</div>
	</div>
</div>
</div>
<style>
.monster-list li{
		display: table;
	text-align: center;
		height: 23vh;
	width: 100%;
}
.monster-list li div{
		vertical-align: middle;
		display: table-cell;
		height: 23vh;

}
.monster-list li div img{
	width: auto;
	max-height:100%;
}
</style>
