    <div class="modal-dialog dice-bag-modal">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" ui-turn-off="diceBag">&times;</button>
          <h4 class="modal-title">Enter roll</h4>
        </div>
        <div class="modal-body"> 
          <label>Label</label>
          <input ng-model="new.name" autofocus style="text-align:left" >
          <label>Roll</label>
          <input ng-model="new.roll" autofocus style="text-align:left" placeholder="ex. 3d6+6, 1d2, 1d8+1d12">
        </div>
        <div class="modal-footer">
          <button ui-turn-off="diceBag" class="btn btn-primary">Close</button>
          <button ui-turn-off="diceBag" ng-click="addDie(new)" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
