<div ui-content-for="title">
  <span>{{heading}}</span>
</div>
<div ui-content-for="navbarAction">
  <div ui-toggle="uiSidebarRight" style="font-size: 2.5vh; padding-top: 0.5vh;" class="btn">
    <i class="fa fa-optin-monster"></i> Monsters
  </div>
</div>
<div  ng-include="'/partials/monsters.html'" style="background-color:white;"></div>
<div class="scrollable">
  <div class="scrollable-content section" style="background-color:white;">
    <span style="font-size:xx-small;display:none;">pg.{{currentMonster.pg}}</span>
    <form role="form" id="add-page" class="form-inline">

 <div class="col-md-10">
      <div class="row">
        <div class="form-group col-md-3">
          <label>Name</label>
          <input class="form-control" type="text" ng-model="currentMonster.name" />
        </div>

        <div class="form-group col-md-1">
          <label>CR</label>
          <input class="form-control" type="text" ng-model="currentMonster.cr" />
        </div>

        <div class="form-group col-md-1">
          <label>AC</label>
          <input class="form-control" type="text" ng-model="currentMonster.ac" />
        </div>

        <div class="form-group col-md-3">
          <label>AC Notes</label>
          <input class="form-control" type="text" ng-model="currentMonster.acNotes" />
        </div>

        <div class="form-group col-md-2">
          <label>Speed</label>
          <input class="form-control" type="text" ng-model="currentMonster.speed" />
        </div>

        <div class="form-group col-md-2">
          <label>Hit Points</label>
          <input class="form-control" type="text" ng-model="currentMonster.hp" />
        </div>
        <div class="form-group col-md-2">
          <label>Initiative</label>
          <input class="form-control" type="text" ng-model="currentMonster.initiative" />
        </div>

        <div class="form-group col-md-3">
          <label>Size</label>
          <input class="form-control" ng-model="currentMonster.size" />
        </div>
        <div class="form-group col-md-3">
          <label>Environment</label>
          <input class="form-control" ng-model="currentMonster.environment" />
        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label>Description</label> <i class="fa fa-pencil-square-o" ng-click="descEdit=true"></i>
          <textarea class="form-control" ng-if="descEdit" ui-tinymce="tinymceOptions" type="text" ng-model="currentMonster.desc" rows="5"></textarea>
          <div ng-if="!descEdit" class="mce-hold" ng-bind-html="trust(currentMonster.desc)"></div>
        </div>
        <div class="form-group col-md-4">
          <label>Senses &amp; Resistances/Vulnerabilities</label> <i class="fa fa-pencil-square-o" ng-click="sensesEdit=true"></i>
          <textarea class="form-control" ng-if="sensesEdit" ui-tinymce="tinymceOptions" type="text" ng-model="currentMonster.senses" rows="5"></textarea>
          <div ng-if="!sensesEdit" class="mce-hold" ng-bind-html="trust(currentMonster.senses)"></div>
        </div>

        <div class="form-group col-md-4">
          <label>Special</label> <i class="fa fa-pencil-square-o" ng-click="specialEdit=true"></i>
          <textarea class="form-control" ng-if="specialEdit" ui-tinymce="tinymceOptions" type="text" ng-model="currentMonster.special" rows="5"></textarea>
          <div ng-if="!specialEdit" class="mce-hold" ng-bind-html="trust(currentMonster.special)"></div>
        </div>
      </div>
</div>
      <div class="col-md-2" style="max-width: 260px;">
              <div ngf-drop ng-model="picFile" ng-show="showImgChange" ngf-pattern="image/*"
             class="cropArea">Click or drop image here...
            <img-crop  area-type="square" result-width-mult="2.6/3" result-image-format="image/jpeg" result-image-size="300" image="picFile  | ngfDataUrl"                 
            result-image="currentMonster.img">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{currentMonster.img}}" />
        </div>
        <button class="btn btn-primary btn-xs" ng-click="showImgChange=!showImgChange">{{showImgChange? 'Hide':'Change Image'}}</button> 
        </div>

      <div class="row col-md-12">
        <div class="form-group" style="float:right;">
          <table class="table" style="max-width:500px;">
            <thead><tr><th>str</th><th>dex</th><th>con</th><th>int</th><th>wis</th><th>cha</th></tr></thead>
            <tbody>
              <tr>
                <td><input ng-model="currentMonster.str"></td>
                <td><input ng-model="currentMonster.dex"></td>
                <td><input ng-model="currentMonster.con"></td>
                <td><input ng-model="currentMonster.int"></td>
                <td><input ng-model="currentMonster.wis"></td>
                <td><input ng-model="currentMonster.cha"></td>
              </tr>
              <tr><th>strsave</th><th>dexsave</th><th>consave</th><th>intsave</th><th>wissave</th><th>chasave</th></tr>
              <tr>
                <td><input ng-model="currentMonster.strSave"></td>
                <td><input ng-model="currentMonster.dexSave"></td>
                <td><input ng-model="currentMonster.conSave"></td>
                <td><input ng-model="currentMonster.intSave"></td>
                <td><input ng-model="currentMonster.wisSave"></td>
                <td><input ng-model="currentMonster.chaSave"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="form-group">
          <label>Skills </label>
          <button type="button" ng-click="addSkill()" class="btn btn-xs btn-default"><span class="fa fa-plus"></span>
          </button>
          <table ng-if="currentMonster.skills.length" class="skills-actions">
            <thead>
              <tr><th>Skill Name</th><th>Modifier</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="skill in currentMonster.skills">
                <td>
                  <input class="form-control" type="text" ng-model="skill.name" />
                </td>
                <td style="position:relative;"><i ng-click="currentMonster.skills.splice($index,1)" class="fa fa-times-circle x-close"></i>
                  <input class="form-control" type="text" ng-model="skill.bonus" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

<div class="row col-md-12">
      <label>Actions/Attacks </label>
      <button type="button" ng-click="addAttack()" class="btn btn-xs btn-default"><span class="fa fa-plus"></span>
      </button>
      <section ng-repeat="attack in currentMonster.attacks" ng-if="currentMonster.attacks.length" class="skills-actions row action-group">
        <i ng-click="currentMonster.attacks.splice($index,1)" class="fa fa-times-circle x-close"></i>
        <div class="form-group col-md-2">
          <label>Attack Name</label>
          <input class="form-control" type="text" list="attacktriggers" ng-model="attack.name" />
          <label ng-show="attack.name=='Spellcasting'">Caster Level</label>
          <input ng-show="attack.name=='Spellcasting'" class="form-control" type="text" ng-model="attack.cl" />
          <label ng-show="attack.name=='Spellcasting'">Melee Spell Attack Bonus</label>
          <input ng-show="attack.name=='Spellcasting'" class="form-control" type="text" ng-model="attack.meleespell" />
          <label ng-show="attack.name=='Spellcasting'">Ranged Spell Attack Bonus</label>
          <input ng-show="attack.name=='Spellcasting'" class="form-control" type="text" ng-model="attack.rangedspell" />
          <label ng-hide="attack.name=='Multiattack' || attack.name=='Spellcasting'">Attack Reach/Range</label>
          <input ng-hide="attack.name=='Multiattack' || attack.name=='Spellcasting'" class="form-control" type="text" ng-model="attack.rr" />
          <label ng-hide="attack.name=='Multiattack' || attack.name=='Spellcasting'">Attack Bonus</label>
          <input ng-hide="attack.name=='Multiattack' || attack.name=='Spellcasting'" class="form-control" type="text" ng-model="attack.bonus" />
          <button ng-if="attack.name=='Multiattack'  || attack.name=='Spellcasting'" type="button" ng-click="addMulti(attack)" class="btn btn-xs btn-default"><span class="fa fa-plus"></span>
          </button>
          <datalist id="attacktriggers">
            <option value="Multiattack">Multiattack</option>
            <option value="Spellcasting">Spellcasting</option>
          </datalist>
        </div>

        <div ng-hide="attack.name=='Multiattack' || attack.name=='Spellcasting'" class="form-group col-md-5">
          <label>Damage roll/text</label> <i class="fa fa-pencil-square-o" ng-click="attackEdit=true"></i>
          <textarea class="form-control" ng-if="attackEdit" ui-tinymce="tinymceOptionsWithButton" type="text" ng-model="attack.damage" rows="6"></textarea>
          <div ng-if="!attackEdit" class="mce-hold" ng-bind-html="trust(attack.damage)"></div>
        </div>
        <div ng-hide="attack.name=='Multiattack' || attack.name=='Spellcasting'" class="form-group col-md-5">
          <label>Special</label> <i class="fa fa-pencil-square-o" ng-click="specialEdit=true"></i>
          <textarea class="form-control" ng-if="specialEdit" ui-tinymce="tinymceOptionsWithButton" type="text" ng-model="attack.special" rows="6"></textarea>
          <div ng-if="!specialEdit" class="mce-hold" ng-bind-html="trust(attack.special)"></div>
        </div>

        <section ng-show="attack.name=='Multiattack'" style="padding: 15px;margin-right:5px;max-width:250px" ng-repeat="subitem in attack.submenu" class="form-group col-md-2 action-group list-unstyled">
          <i ng-click="currentMonster.attacks[$parent.$index].submenu.splice($index,1)" class="fa fa-times-circle x-close"></i>
          <label>Multi-Attack Name</label>
          <input class="form-control" type="text" ng-model="subitem.name" />
          <label>Coma separated attacks</label>
          <input class="form-control" type="text" ng-model="subitem.bonus" />
          <span ng-if="attack.name=='Multiattack'" ng-init="subitem.type = 'ma'"></span>
        </section>

        <section ng-show="attack.name=='Spellcasting'" style="padding: 15px;margin-right:5px;max-width:250px" ng-repeat="subitem in attack.submenu" class="form-group col-md-2 action-group list-unstyled">
          <i ng-click="currentMonster.attacks[$parent.$index].submenu.splice($index,1)" class="fa fa-times-circle x-close"></i>
          <label>Spell Level/Innate</label>
          <input class="form-control" type="text" ng-model="subitem.name" style="width:55%;float:left" />
          <input class="form-control" placeholder="#" type="text" ng-model="subitem.num" style="width:20%;float:left" />
          <label>Add Spell/Ability</label>
          <input class="form-control" type="text" placeholder="Name" ng-model="spell.name" style="width:55%;float:left" />
          <input class="form-control" placeholder="#" type="text" ng-model="spell.num" style="width:20%;float:left" />
          <input class="form-control" type="button" value="add" ng-click="addSpell(spell,subitem);spell = [];" style="width:25%;" />
          <div style="display: flex;flex-wrap: wrap;"><span ng-repeat="subsubitem in subitem.submenu" class="subitem"> {{subsubitem.name}}{{subsubitem.num ? 'x'+subsubitem.num : '' }} <i ng-click="subitem.submenu.splice($index,1)"  class="fa fa-times-circle"></i><span ng-if="attack.name=='Spellcasting'" ng-init="subsubitem.type = 'ca'"></span></span>
          </div>
        </section>
      </section>
      </div>
    </form>
    <div class="row">
    <div class="col-md-6">
    <buttom class="form-control btn btn-success" ng-click="saveMonster()" >Save</buttom>
    </div>
    <div class="col-md-6">
    <buttom class="form-control btn btn-danger"  ng-click="deleteMonster(currentMonster.id)">Delete</buttom>
    <br><small>*This button will delete CUSTOM monsters, or reset altered monsters to the default.  If you do not wish to display default monsters you can change that in <a href="/user/settings">Settings</a></small>
    </div>
    </div>

  </div>
</div>

<style>
.mce-hold{
  height:143px;
  overflow:auto;
  background-color:white;
  padding:5px;
  border:1px solid darkgrey;
}
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 260px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    right: 100%;
    text-align: center;
  }
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}
img-crop {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
}
</style>