<div class="col-md-4 col-xs-4">
  <div class="row">
    <div class="btn-group btn btn-xs btn-primary pull left">
      <span
        >{{ currentRegion.name ? currentRegion.name : "Change Region" }}
        <i class="ft-chevron-down"> </i
      ></span>

      <ul class="dropdown-menu">
        <li *ngFor="let region; in: regions" (click)="setRegion(region)">
          <a> {{ region.name }} </a>
        </li>
      </ul>
    </div>
    <div class="btn-group btn btn-xs btn-primary pull left">
      <span>Group By <i class="ft-chevron-down"> </i></span>

      <ul>
        <li
          *ngFor="(groupname,grouping) in cGroups"
          (click)="setGrouping(grouping)"
        >
          <a *ngIf="grouping.field == cGroup.field"
            ><i class="ft-check"></i> {{ groupname }}</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="panel-group">
    <div
      class="panel panel-default"
      [ngClass]="{'selected-panel':groupedNpcs=={{$index}}}"
      *ngFor="i; in: cGroup.headers"
    >
      <div *ngIf="groupedNpcs != {{$index}}" class="panel-heading">
        <h4 class="panel-title">
          {{ i ? i : "None" }}
        </h4>
      </div>
      <div *ngIf="groupedNpcs == {{$index}}" class="panel-heading">
        <h4 class="panel-title">
          {{ i ? i : "None" }}
        </h4>
      </div>
      <div *ngIf="groupedNpcs == {{$index}}" class="panelFill">
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>First Name</th>
                <th>Age</th>
                <th>M/F</th>
                <th>Race</th>
                <th>Profession</th>
                <th></th>
              </tr>
            </thead>
            <tr
              [ngClass]="{ selected: $index == selectedRow[$parent.$index] }"
              (click)="setClickedRow($index, $parent.$index, npc.id)"
              *ngFor="npc; in: npcs.alive | npcFilter: field:groups"
            >
              <td>{{ npc.firstName }}</td>
              <td>{{ npc.age }}</td>
              <td>{{ npc.gender.substr(0, 1).toUpperCase() }}</td>
              <td>{{ npc.race }}</td>
              <td>{{ npc.profession }}</td>
              <td>
                <i
                  class="ft-universal-access"
                  *ngIf="npc.lineage != ''"
                  title="{{ npc.lineage }}"
                ></i>
                <i
                  class="ft-dot-circle-o"
                  *ngIf="npc.metParty == '1'"
                  title="Has met the party"
                ></i>
                <i
                  class="ft-lock"
                  *ngIf="npc.excluded == '1'"
                  title="Excluded from aging or mass deletion"
                ></i>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="col-md-8 col-xs-8 npc-details p-x-0"
  [ngClass]="{ 'help-shown': helpStep == 8 }"
>
  <div class="page-cover" *ngIf="selectedNPC == null">
    <span
      >Select NPC to the left or click "New NPC" button in the top menu</span
    >
  </div>
  <div
    ng-slimscroll
    style="
      background-color: white;
      border-radius: 10px;
      padding: 5px;
      height: 93vh;
    "
  >
    <div class="form-group col-md-2 padded">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        name="data.firstName"
        [ngModel]="selectedNPC.firstName"
      />
    </div>
    <div class="form-group col-md-2 padded">
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        name="data.lastName"
        [ngModel]="selectedNPC.lastName"
      />
    </div>
    <div class="form-group col-md-2">
      <label>Race</label>
      <select
        type="text"
        class="form-control"
        name="data.race"
        [ngModel]="selectedNPC.race.id"
      >
        <option *ngFor="race; in: races" value="{{ race.id }}">
          {{ race.name }}
        </option>
      </select>
    </div>
    <div class="form-group col-md-1 padded">
      <label>Sex</label>
      <select
        type="text"
        class="form-control"
        name="data.lastName"
        [ngModel]="selectedNPC.gender"
      >
        <option value="male">M</option>
        <option value="female">F</option>
      </select>
    </div>
    <div class="form-group col-md-3 padded">
      <label>Lineage</label>
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': lineageLock, 'ft-unlock': !lineageLock }"
        (click)="lineageLock = !lineageLock"
      ></i>
      <input
        type="text"
        class="form-control"
        name="data.lineage"
        [ngModel]="selectedNPC.lineage"
      />
    </div>
    <div class="form-group col-md-1 padded text-center">
      <label>Age</label>
      <input
        type="text"
        style="padding: 6px 0px"
        class="form-control text-center"
        (change)="selectedNPC.birthYear = currentRegion.epoch - selectedNPC.age"
        [ngModel]="selectedNPC.age"
      />
    </div>
    <div class="form-group col-md-1">
      <label>Alive</label>
      <input
        type="checkbox"
        class="form-control"
        [ngModel]="selectedNPC.alive"
      />
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input
            type="text"
            class="form-control"
            [ngModel]="selectedNPC.residentCity"
          />
        </div>
        <div class="form-group col-md-6">
          <label>Profession</label>
          <input
            type="text"
            class="form-control"
            name="data.lastName"
            [ngModel]="selectedNPC.profession"
          />
        </div>
        <div class="form-group col-md-5">
          <label>Quirks</label>
          <i
            style="width: 13px"
            [ngClass]="{ 'ft-lock': quirkLock, 'ft-unlock': !quirkLock }"
            (click)="quirkLock = !quirkLock"
          ></i>
          <textarea
            type="text"
            rows="1"
            class="form-control"
            name="data.quirks"
            [ngModel]="selectedNPC.quirks"
          ></textarea>
        </div>
        <div class="form-group col-md-3 padded" style="padding-top: 8px">
          <br />
          <label>Spouse</label>:
          <a
            [ngStyle]="{ color: spouse.alive == '1' ? 'green' : 'black' }"
            (click)="setClickedRow(0, 0, spouse.id)"
            title="{{ npcInfo(spouse.id) }}"
            ([ngModel])="(spouse.firstName)"
          ></a
          ><br />
          <label>Mother</label>:
          <a
            [ngStyle]="{ color: mother.alive == '1' ? 'green' : 'black' }"
            (click)="setClickedRow(0, 0, mother.id)"
            title="{{ npcInfo(mother.id) }}"
            ([ngModel])="(mother.firstName)"
          ></a
          ><br />
          <label>Father</label>:
          <a
            [ngStyle]="{ color: father.alive == '1' ? 'green' : 'black' }"
            (click)="setClickedRow(0, 0, father.id)"
            title="{{ npcInfo(father.id) }}"
            ([ngModel])="(father.firstName)"
          ></a>
        </div>
        <div class="form-group col-md-4 padded text-center">
          <label style="width: 100%">Children</label>
          <span *ngFor="child; in: children"
            ><a
              [ngStyle]="{
                color: npcs.all[child].alive == '1' ? 'green' : 'black'
              }"
              (click)="setClickedRow(0, 0, npcs.all[child].id)"
              title="{{ npcInfo(npcs.all[child].id) }}"
              >{{ npcs.all[child].firstName }}</a
            ><span *ngIf="!$last">, </span></span
          >
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>Mannerisms</label>
          <i
            style="width: 13px"
            [ngClass]="{ 'ft-lock': mannerLock, 'ft-unlock': !mannerLock }"
            (click)="mannerLock = !mannerLock"
          ></i>

          <textarea
            type="text"
            class="form-control"
            name="data.mannerisms"
            [ngModel]="selectedNPC.mannerisms"
          ></textarea>
        </div>
        <div class="form-group col-md-6">
          <label>Abilities</label>

          <textarea
            type="text"
            class="form-control"
            name="data.abilities"
            [ngModel]="selectedNPC.abilities"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <i class="ft-random" (click)="getAspects()"></i>
      <label>Special</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        [ngModel]="selectedNPC.features['Special']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': specialLock, 'ft-unlock': !specialLock }"
        (click)="specialLock = !specialLock"
      ></i>
      <label>Face Shape</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Face Shape']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': faceLock, 'ft-unlock': !faceLock }"
        (click)="faceLock = !faceLock"
      ></i>
      <label>Skin Desc</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Skin Complexion']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': skinDLock, 'ft-unlock': !skinDLock }"
        (click)="skinDLock = !skinDLock"
      ></i>
      <label>Skin Color</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Skin Color']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': skinCLock, 'ft-unlock': !skinCLock }"
        (click)="skinCLock = !skinCLock"
      ></i>
      <label>Hair Desc</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Hair Description']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': hairDLock, 'ft-unlock': !hairDLock }"
        (click)="hairDLock = !hairDLock"
      ></i>
      <label>Hair Color</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Hair Color']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': hairCLock, 'ft-unlock': !hairCLock }"
        (click)="hairCLock = !hairCLock"
      ></i>
      <label>Eye Desc</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        [ngModel]="selectedNPC.features['Eye Description']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': eyeDLock, 'ft-unlock': !eyeDLock }"
        (click)="eyeDLock = !eyeDLock"
      ></i>
      <label>Eye Color</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        [ngModel]="selectedNPC.features['Eye Color']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': eyeCLock, 'ft-unlock': !eyeCLock }"
        (click)="eyeCLock = !eyeCLock"
      ></i>
      <label>Clothing</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Clothing']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': clothingLock, 'ft-unlock': !clothingLock }"
        (click)="clothingLock = !clothingLock"
      ></i>
      <label>Body Type</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        placeholder="average"
        [ngModel]="selectedNPC.features['Body Type']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': bodyLock, 'ft-unlock': !bodyLock }"
        (click)="bodyLock = !bodyLock"
      ></i>
      <label>Body Desc</label>
      <input
        type="text"
        class="form-control"
        name="data.features"
        [ngModel]="selectedNPC.features['Body Description']"
      />
      <i
        style="width: 13px"
        [ngClass]="{ 'ft-lock': bodyLock, 'ft-unlock': !bodyLock }"
        (click)="bodyLock = !bodyLock"
      ></i>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        <label>Notes</label>
        <textarea
          type="text"
          class="form-control"
          name="data.notes"
          [ngModel]="selectedNPC.notes"
        ></textarea>
      </div>
    </div>
    <div style="display: block">
      <button
        type="button"
        class="btn btn-success"
        (click)="updateNpc(selectedNPC)"
      ></button>
      <a (click)="extended = !extended">Toggle Extended Details</a>
    </div>
    <div *ngIf="extended">
      <div class="form-group">
        <label>Region</label>
        <select class="form-control" [ngModel]="selectedNPC.region">
          <option *ngFor="region; in: regions" (click)="currentRegion = region">
            {{ region.name }}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Birth Year</label>
        <input class="form-control" [ngModel]="selectedNPC.birthYear" />
      </div>

      <div class="form-group">
        <label
          title="If this is set to a numerical value this npc will be deleted when over 10 generations old"
          >Generation</label
        >
        <input
          class="form-control"
          (change)="generationChange()"
          [ngModel]="selectedNPC.generation"
        />
      </div>

      <div class="form-group col-md-2 text-center">
        <label title="The npc will never die and will have much fewer children"
          >Immortal</label
        >
        <input
          type="checkbox"
          class="form-control"
          [ngModel]="selectedNPC.immortal"
        />
      </div>

      <div class="form-group col-md-2 text-center">
        <label
          title="If this is set to a numerical value this npc will be deleted when over 10 generations old"
          >Excluded</label
        >
        <input
          type="checkbox"
          class="form-control"
          [ngModel]="selectedNPC.excluded"
        />
      </div>

      <div class="form-group col-md-2 text-center">
        <label>Met Party</label>
        <input
          type="checkbox"
          lass="form-control"
          [ngModel]="selectedNPC.metParty"
        />
      </div>
    </div>
  </div>
</div>
